@model TaskForBTC.Services.Models.EventModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/popup.css" />


<div class="cont" style="height: 570px">
    <div class="text">
        Редактировать
    </div>

    @using (Html.BeginForm("EditEvent", "Administration", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
    {
        @Html.HiddenFor(model => model.EventId)
        <div class="form-group" style="font-size:12px">
            @Html.LabelFor(model => model.EventName)
            @Html.EditorFor(model => model.EventName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EventName)
        </div>

        <div class="form-group" style="font-size:12px">
            @Html.LabelFor(model => model.EventDate)
            @Html.EditorFor(model => model.EventDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EventDate)
        </div>
       
        <div class="form-group" style="font-size:12px">
            @Html.LabelFor(model => model.MaxNumberOfUsers)
            @Html.EditorFor(model => model.MaxNumberOfUsers, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaxNumberOfUsers)
        </div>

        <table data-paging="false" style="font-size:12px; line-height:0" data-searching="false" data-ordering="false" id="fields" class="table table-hover">
                    
        </table>
            
        <div class="form-group">
            <input type="text" name="fieldLable" placeholder="Введите тип" id="fieldLable" style="font-size:12px" />
            <input type="text" name="value" placeholder="Введите описание" id="fieldName" style="font-size:12px" />
            <input type="button" class="btn btn-success" value="Добавить" onclick="AddField(document.getElementById('fieldLable').value, document.getElementById('fieldName').value, @Model.EventId)" />
        </div>
        
        <div class="form-group">
            <input type="reset" value="Сброс полей" class="btn btn-primary" />
        </div>
         <div class="form-group">
            <input type="submit" value="Изменить" class="btn btn-primary" />
        </div>
    }

</div>

<script>
    $(document).ready(function () {

        $("#fields").DataTable({
            "language": {
                "info": ''
            },
            scrollY: '80px',

            "ajax": {
                "url": "/Administration/GetFields?id=" + @Model.EventId,
                "type": "GET",
                "datatype": "json"
            },

            "columns": [
                {
                    "data": "lable"

                },
                { "data": "name" },
                {
                    "data": "name", "render": function (data, type, full, meta) {
                        return "<button type='button' class='btn btn-primary btn-sm' style='margin-left:5px' onclick=\"DeleteField(" + meta.row + "," + @Model.EventId+")\"><i class='fa fa-trash'></i>Удалить</button>";
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "150px"
                }

            ]
        });
    });

    function DeleteField(field, eventId) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteField", "Administration")?field=' + field + '&eventId=' + eventId,
            success: function (data) {
                if (!data.success) {
                    alert(data.message)
                }

                else { $('#fields').DataTable().ajax.reload() }

            }
        });
    }
    function AddField(fieldLable, fieldName, eventId) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("AddField", "Administration")?fieldLable=' + fieldLable + '&fieldName=' + fieldName + '&eventId=' + eventId,
            success: function (data) {
                if (!data.success) {
                    alert(data.message)
                }

                else { $('#fields').DataTable().ajax.reload() }

            }
        });
    }

</script>




